<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактор билетов</title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div>
<form action="/admin" metod="get">
    <button type="submit">Выход в главное меню</button>
</form>
<h1>Форма для работы с билетами</h1>

<!-- Форма для создания и редактирования билета -->
<form th:action="@{/ticket/save}" th:object="${ticket}" method="post">
    <h2>Создание и изменение билета</h2>
    <label for="id">Номер билета:</label>
    <input type="number" min="1" id="id" th:field="*{id}" required><br>
    <label for="question">Вопрос:</label>
    <input type="text" id="question" th:field="*{question}" required><br>
    <label for="answer1">Ответ 1:</label>
    <input type="text" id="answer1" th:field="*{answer1}" required><br>
    <label for="answer2">Ответ 2:</label>
    <input type="text" id="answer2" th:field="*{answer2}" required><br>
    <label for="answer3">Ответ 3:</label>
    <input type="text" id="answer3" th:field="*{answer3}" required><br>
    <label for="answer4">Ответ 4:</label>
    <input type="text" id="answer4" th:field="*{answer4}" required><br>
    <label for="answerOrigin">Правильный Ответ :</label>
    <input type="number" min="1" max="4" id="answerOrigin" th:field="*{answerOrigin}" required><br>

    <!-- Кнопки для отправки формы или отмены операции -->
    <button type="submit">Сохранить</button>
    <button type="button" onclick="location.href='/ticket'">Отмена</button>
</form>

<!-- Форма для просмотра билета -->
<form  th:if="${ticket}">
    <h2>Просмотр билета</h2>
    <p><strong>Номер билета:</strong> <span th:text="${ticket.id}"></span></p>
    <p><strong>Вопрос:</strong> <span th:text="${ticket.question}"></span></p>
    <p><strong>Ответ 1:</strong> <span th:text="${ticket.answer1}"></span></p>
    <p><strong>Ответ 2:</strong> <span th:text="${ticket.answer2}"></span></p>
    <p><strong>Ответ 3:</strong> <span th:text="${ticket.answer3}"></span></p>
    <p><strong>Ответ 4:</strong> <span th:text="${ticket.answer4}"></span></p>
    <p><strong>Правильный ответ:</strong> <span th:text="${ticket.answerOrigin}"></span></p>
</form>
<form th:action="@{/ticket/view}" method="get">
    <label for="ticketId">ID билета:</label>
    <input type="number" min="1" id="ticketId" th:name="id" required>
    <button type="submit">Просмотреть билет</button>
</form>
<form th:action="@{/ticket/del}" method="get">
    <label for="ticId">ID билета:</label>
    <input type="number" min="1" id="ticId" th:name="id" required>
    <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить этот билет?')">Удалить билет</button>
</form>
<h2>Список объектов</h2>
<ul>
    <li th:each="object : ${tic}">
        <span th:text="${object.id}">номер</span>
        <span th:text="${object.question}">вопрос</span>
    </li>
</ul>
</body>
</html>