<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователи</title>
</head>
<body>
<h1>Просмотр пользователей</h1>
<div th:insert="~{fragment::header}"></div>
<table border="3">
    <thead>
    <tr>
        <th>Id</th>
        <th>фамилия</th>
        <th>имя</th>
        <th>должность</th>
        <th>Дата регистрации</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="field : ${users}">
        <td th:text="${field.id}">Field Name</td>
        <td th:text="${field.firstName}">Field Value</td>
        <td th:text="${field.lastName}">Field Value</td>
        <td th:text="${field.position}">Field Value</td>
        <td th:text="${field.registration}">Field Value</td>
    </tr>
    </tbody>
</table>
<form th:action="@{/user/delete}" method="post">
    <label for="log">ID пользователя:</label>
    <input type="number" id="log" th:name="id" required>
    <button type="submit" onclick="return confirm('Вы уверены, что хотите удалить пользователя?')">Удалить.</button>
</form>-->
<form action="/admin" metod="get">
    <button type="submit">Выход в главное меню</button>
</form>
</body>
</html>